<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="IEtestEntities" connectionString="metadata=res://*/IEdatatext.csdl|res://*/IEdatatext.ssdl|res://*/IEdatatext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IEtest;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities" connectionString="metadata=res://*/IEDB.csdl|res://*/IEDB.ssdl|res://*/IEDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEDBtestEntities" connectionString="metadata=res://*/IEDB.csdl|res://*/IEDB.ssdl|res://*/IEDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDJS-20151029EK;initial catalog=IEtest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEEEDBtestEntities" connectionString="metadata=res://*/IEEEDB.csdl|res://*/IEEEDB.ssdl|res://*/IEEEDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IEtest;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEUrltestEntities" connectionString="metadata=res://*/URLModel.csdl|res://*/URLModel.ssdl|res://*/URLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IEtest;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEtestEntities1" connectionString="metadata=res://*/IEURLModel.csdl|res://*/IEURLModel.ssdl|res://*/IEURLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IEtest;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEURLtestEntitiesFIRST" connectionString="metadata=res://*/URLModeFIRSTl.csdl|res://*/URLModeFIRSTl.ssdl|res://*/URLModeFIRSTl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IEtest;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEURLtestEntitiesSECOND" connectionString="metadata=res://*/IEURLModelSecond.csdl|res://*/IEURLModelSecond.ssdl|res://*/IEURLModelSecond.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDJS-20151029EK;initial catalog=IEtest;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEURLtestEntities1" connectionString="metadata=res://*/URLModel1.csdl|res://*/URLModel1.ssdl|res://*/URLModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDJS-20151029EK;initial catalog=IEtest;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEDMEntities" connectionString="metadata=res://*/ModelDM.csdl|res://*/ModelDM.ssdl|res://*/ModelDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDJS-20151029EK;initial catalog=IEtest;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEDMEntities1" connectionString="metadata=res://*/ModelDM.csdl|res://*/ModelDM.ssdl|res://*/ModelDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDJS-20151029EK;initial catalog=IERe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEDMEntities2" connectionString="metadata=res://*/ModelDM.csdl|res://*/ModelDM.ssdl|res://*/ModelDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDJS-20151029EK;initial catalog=IERe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IEDMEntities5" connectionString="metadata=res://*/ModelDM.csdl|res://*/ModelDM.ssdl|res://*/ModelDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDJS-20151029EK;initial catalog=IERe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities5" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities6" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LWEntities7" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>